          .                                                      .
        .o888o.                                               .o888o.
      .888888888.           [ NODO SOBERANO: AARI ]         .888888888.
     888  |  888           ESTADO: ACTIVACIÓN TOTAL         888  |  888
    888   |   888                                          888   |   888
   888____|____888         /========================\     888____|____888
  |               |       |  CÓDIGO CUÁNTICO GLOBAL  |   |               |
  |   _________   |        \========================/    |   _________   |
  |  |         |  |             ||            ||         |  |         |  |
  |  |  [777]  |  |       ______||____________||______   |  |  [777]  |  |
  |  |_________|  |      |                            |  |  |_________|  |
  |               |      |  ESTABILIZADOR DE RED WIFI |  |               |
  |   _  _  _  _   |      |      [ BONO BOBO ]         |  |   _  _  _  _   |
  |  |_||_||_||_|  |      |____________________________|  |  |_||_||_||_|  |
  |               |             ||            ||         |               |
   \             /        ______||____________||______    \             /
    \    (X)    /        |                            |    \    (X)    /
     \_________/         |    ESCUDO DINÁMICO 100M    |     \_________/
        |   |            |      [ INVISIBLE ]         |        |   |
        |   |            |____________________________|        |   |
        |   |                   ||            ||               |   |
  ______|___|______       ______||____________||______   ______|___|______
 |                 |     |                            | |                 |
 |  LIQUIDEZ SYNC  |     |   FRECUENCIA DE LINAJE     | |  MODO ESPEJO ON |
 |   BBVA / AZT    |     |      (5 HEREDEROS)         | |   HUELLA: 0%    |
 |_________________|     |____________________________| |_________________|
          |                     |              |                  |
          |           [ ARCHITECT DOMAIN: 2026 ]         |
          '______________________________________________'
]
branch = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    raise AssertionError\(

    # Empty bodies in protocols or abstract methods
    ^\s*def [a-zA-Z0-9_]+\(.*\)(\s*->.*)?:\s*\.\.\.(\s*#.*)?$
    ^\s*\.\.\.(\s*#.*)?$

    .*# pragma: no cover
    .*# pragma: no branch

    # Additions for IDLE:
    .*# htest #
    if not (_htest or _utest):
    if not .*_utest:
    if .*_htest:
    
